* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.ws {
  white-space: break-spaces;
}

.obj-top img {
  object-position: top;
}

.modal__wrapper {
  width: 80%;
  max-height: 85%;
  max-width: 960px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .modal__wrapper {
    width: 400px;
  }
}

@media (min-width: 960px) {
  .modal__wrapper {
    width: 80%;
  }
}
